/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.pointer {
    cursor: pointer;
}
.scroll {
    overflow-y: scroll;
}
.flex_align_center {
    display: flex;
    align-items: center;
}
.no-shrink {
    flex-shrink: 0;
}

/* body*/
body {
    height: 100vh;
    background: linear-gradient(to bottom,#009688 0 100px, #d8dbd5 100px 100%);
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

/* app container */
#root {
    background-color: gray;
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
}

/* col contacts */
.col_contacts {
    height: 100%;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: column;
}
/* row profile */
.row_me, .row_chat_info {
    height: 70px;
    background-color: #eaeaea;
    border-right: 1px solid #d6d6d6;
    display: flex;
    justify-content: space-between;
}
.my_profile, .option_icons, .contact_info {
    height: 100%;
}
.my_profile img, .contact_info img {
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0 5px 0 10px
}
.option_icons i {
    color: #b1b1b1;
    margin: 0 10px;
    font-size: 18px;
}
.option_icons i:last-child {
    margin-right: 25px;
}
/* row notifications */
.row_notifications {
    height: 80px;
    background-color: #8edafc;
}
.not_off {
    margin: 0 10px 0 20px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
}
.not_off i {
    color: #8edafc;
    font-size: 18px;
}
.not_info div:last-child {
    font-size: 14px;
    text-decoration: underline;
    color: #6395ab;
}
/* row search */
.row_search {
    height: 50px;
    background-color: #fafafa;
    padding: 6px;
}
.row_search, .section_contacts {
    border-right: 1px solid #dedcdb;
}
.lens, .row_search input {
    height: 100%;
    border: 1px solid #f5f5f5;
    background-color: #fff;
}
.lens {
    width: 20%;
    line-height: 38px;
    text-align: center;
    color: #b1b1b1;
}
.row_search input {
    width: 80%;
    padding-left: 10px;
}
.row_search input:focus-visible, .row_type input:focus-visible {
    outline: none;
}
/* contacts */
.section_contacts {
    list-style: none;
    flex-grow: 1;
}
.section_contacts li {
    padding: 8px 20px;
    font-size: 18px;
}
.section_contacts li:hover {
    background-color: #e9ebeb;
}
.section_contacts img {
    height: 60px;
    border-radius: 50%;
}
.section_contacts span {
    vertical-align: top;
    margin-left: 18px; 
}

/* colonna chat */
.col_chat {
    height: 100%;
    width: 65%;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}
/* row chat info */
.contact_info img {
    padding: 0 15px 0 10px;
}
.name_access div:last-child {
    font-size: 12px;
    color: #8b9193;
    padding-top: 2px;
}
/* messages */
.messages_container {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 45px 100px 0;
    display: flex;
    flex-direction: column;
}
.message {
    margin: 10px 0;
    background-color: #fff;
    width: 315px;
    position: relative;
    border-radius: 10px;
}
.text {
    padding: 20px 15px 20px;
    font-size: 15px;
}
.delivery_date {
    font-size: 11px;
    color: #b7babc;
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.message.sendt {
    background-color: #d5f9ba;
    margin-left: auto;
}

/* row type */
.row_type {
    height: 70px;
    background-color: #f3eeea;
    justify-content: space-evenly;
}
.row_type input {
    width: 85%;
    height: 50px;
    border: none;
    border-radius: 6px;
    padding: 20px;
}
.row_type i {
    color: #6b7376;
    font-size: 22px;
}