/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom, #009688, #009688 15%, #d8dbd5 15%);
        padding: 20px;
}

#root {
    background-color: gray;
    height: 100%;
    width: 80%;
    margin: auto;
}